*.classpath
*/.settings/
/target/ 
.gitignore
.classpath
.project
.settings      
 ##filter databfile??sln file##
*.mdb  
*.ldb  
*.sln    
##class file##
*.com  
*.class  
*.dll  
*.exe  
*.o  
*.so  
# compression file
*.7z  
*.dmg  
*.gz  
*.iso  
*.rar  
*.tar  
*.zip  
*.via
*.tmp
*.err 
capital-server/capital-service-channel/target/
capital-server/capital-model-hzf/target/
capital-server/capital-common/target/
capital-server/capital-model-boss/target/
capital-server/capital-service-channel/log/
*.iml
.gradle/
.idea/
capital-common/build/
capital-model-boss/build/
capital-model-fcapital/build/
capital-model-hzf/build/
capital-service-channel/build/
capital-service-channel/log/
capital-service-scheduled/build/
gradle/
log/
capital-service-sender/build/
capital-service-sender/out/
capital-server/capital-model-fcapital/target/
