<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neo.dao.WarningItemDao">
	<resultMap id="BaseResultMap" type="com.neo.entity.WarningItem">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="send_sms" property="sendSms" jdbcType="BIT" />
		<result column="send_email" property="sendEmail" jdbcType="BIT" />
		<result column="sms_tpl" property="smsTpl" jdbcType="VARCHAR" />
		<result column="email_title" property="emailTitle" jdbcType="VARCHAR" />
		<result column="email_tpl" property="emailTpl" jdbcType="VARCHAR" />
		<result column="invalid" property="invalid" jdbcType="BIT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id,name,send_sms,send_email,sms_tpl,email_title,email_tpl,invalid,create_time,update_time
	</sql>

	<!-- 根据报警项名称获取报警项 -->
	<select id="getWarningItemByName" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_warning_item
		where name = #{itemName,jdbcType=VARCHAR}
		and invalid=0
	</select>

</mapper>